@import 'node_modules/bootstrap/scss/functions';
@import 'variables';
@import 'node_modules/bootstrap/scss/mixins';

$unity: 0.5rem;

$nav-height: 4rem;

$spacer-x2: $spacer * 2;

$golden: 1.618;


// INDEXES

$nav-z-index: 9;
